
 <main class="container">

 	<audio id="myAudio" src="/assets/audio/fun.mp3"></audio>

    <header>
      <h1 class="rd">Visual sound</h1>
    </header>
<span id="" class="name">Radius collection spheres</span><span  class="value"></span>
<div id="radiusCollection_spheres" class="amount_param"></div>


<span id="" class="name">Amount spheres</span><span id="val_amount_spheres" class="value">0</span>
<div id="amount_spheres" class="amount_param"></div>

<span class="name" id="name_0"></span><span class="value" id="val_0">0</span>
<div class="param" id="param_0"></div>

<span class="name" id="name_1"></span><span class="value" id="val_1">0</span>
<div class="param" id="param_1"></div>


<span class="name" id="name_2"></span><span class="value" id="val_2">0</span>
<div class="param" id="param_2"></div>


    {{!-- <input class="range" type="range" min="5" max="10" step="1">
 --}}
  </main>

{{!--
<canvas id="cnvs" width="800" height="400">
	Your browsers doesn't support canvas

</canvas> --}}
